.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height: max-content;
    padding-bottom: 2rem;
}

.menu-outer {
    margin-top: 3rem;
    padding-top: 2rem;
   
    background-color: white;

}

.menu-inner {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-title {
    text-align: center;
    padding-bottom: 1rem;
}
 
.card-container {
    display: grid;
    place-content: center;
    gap: 2rem;
}
