.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: max-content;
    padding-bottom: 2rem;
 
}

.menu-outer {
    margin-top: 3rem;
    padding-top: 3rem;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-title {
    text-align: center;
    padding-bottom: 1rem;
}
 
.card-container {
    display: grid;
    gap: 3.8rem;
}

.menu-slider-container {
    width: 90vw;
    max-width: 20rem;
}