.register {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    margin: 0 2rem;
}

.register-title {
    margin-top: 2rem;
    text-align: center;
}
 
.register-info {
    display: block;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}
 