.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    padding-bottom: 1rem;
    background-color: var(--col-background);
    z-index: 999999;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 35rem;
}

.header-arrow {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;
    width: 5rem;
 
}

.header-icons, .header-title {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: 1rem;
}


.header-title >h2 {
    margin:0;
}
 
.icon-container {
    display: block;
    height: 2.85rem;
    width: 2.85rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: var(--shadow-icon-header);
    color: black;
}

.icon {
    display: block;
    text-align: center;
    transform: translateY(30%) translateX(30%);
    height: 1.8rem;
}

.fav {
    height: 1.45rem;
    transform: translateY(50%) translateX(40%);
}