.login-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30rem;
    width: 100%;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-error-container {
    height: 2rem;
    width: 100%;
}

.login-btn {
    width: 90%;
}
     
.login-password-reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.login-password-reminder> p {
    color: var(--col-button-filled);
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: underline;
}
 